<vg-player>
    <vg-controls>
        <vg-play-pause></vg-play-pause>

        <vg-time-display vgProperty="current"></vg-time-display>

        <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        </vg-scrub-bar>

        <vg-time-display vgProperty="total"></vg-time-display>

        <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <app-svg-viewer #svgRef id="timer" [vgMedia]="svgRef" [src]="source" [duration]="duration"></app-svg-viewer>
</vg-player>

<label>
    Duration: <input type="number" [(ngModel)]="duration">
</label>
