.info-layer {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 25%;
    height: 100%;
    font-family: sans-serif;
    color: white;
    z-index: 2000;
}

.info-layer img {
    width: 40px;
    height: auto;
    padding-right: 20px;
}

.info-layer a,
.info-layer a:visited {
    color: white;
}

.cue-row .json-header {
    width: 60%;
}

.cue-row .json {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 400px;
    display: inline-block;
}
