<vg-player (onPlayerReady)="onPlayerReady($event)">
    <div *ngIf="cuePointData?.title" class="info-layer">
        <h3><a [href]="cuePointData?.href" target="_blank">{{ cuePointData?.title }}</a></h3>
        <p>
            <img [src]="cuePointData?.src" align="left">
            {{ cuePointData?.description }}
        </p>
    </div>

    <vg-overlay-play></vg-overlay-play>

    <vg-controls>
        <vg-play-pause></vg-play-pause>
        <vg-playback-button></vg-playback-button>

        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

        <vg-scrub-bar>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-cue-points [vgCuePoints]="metadataTrack.cues"></vg-scrub-bar-cue-points>
        </vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

        <vg-mute></vg-mute>

        <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <video #media [vgMedia]="media" id="singleVideo" preload="auto">
        <source *ngFor="let video of sources" [src]="video.src" [type]="video.type">

        <track src="assets/data/cue-points.vtt" kind="metadata" label="Cue Points" default
               #metadataTrack
               vgCuePoints
               (onEnterCuePoint)="onEnterCuePoint($event)"
               (onExitCuePoint)="onExitCuePoint($event)">
    </video>
</vg-player>

<div class="cue-row">
    <table>
        <thead>
            <tr>
                <th>Start Time</th>
                <th>End Time</th>
                <th class="json-header">JSON</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cue of track?.cues">
                <td>{{ cue.startTime }}</td>
                <td>{{ cue.endTime }}</td>
                <td class="json">{{ cue.text }}</td>
                <td>
                    <button type="button" (click)="onClickRemove(cue)">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<h2>Add a Cue Point dynamically (all fields are required)</h2>

<form name="cueForm"
      #formRef="ngForm"
      (submit)="onSubmit(formRef, $event)">
    <div>
        <label for="startTime">Start Time</label>
        <input type="number" id="startTime" name="startTime" [(ngModel)]="newCue.startTime" required>
    </div>
    <div>
        <label for="endTime">End Time</label>
        <input type="number" id="endTime" name="endTime" [(ngModel)]="newCue.endTime" required>
    </div>
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" [(ngModel)]="newCue.title" required>
    </div>
    <div>
        <label for="description">Description</label>
        <input type="text" id="description" name="description" [(ngModel)]="newCue.description" required>
    </div>
    <div>
        <label for="src">Image URL</label>
        <input type="text" id="src" name="src" [(ngModel)]="newCue.src" required>
    </div>
    <div>
        <label for="href">Link</label>
        <input type="text" id="href" name="href" [(ngModel)]="newCue.href" required>
    </div>

    <button type="submit" [disabled]="!formRef.valid">Add Cue</button>
</form>
